In [2]:
import pandas as pd

In [3]:
df1=pd.DataFrame({'A': ['a1','a2','a3','a4'],
                'B': ['b1','b2','b3','b4'],
                'C': ['c1','c2','c3','c4'],
                'D': ['d1','d2','d3','d4']},
               index=[0,1,2,3])
df1

    A   B   C   D
0  a1  b1  c1  d1
1  a2  b2  c2  d2
2  a3  b3  c3  d3
3  a4  b4  c4  d4

In [4]:
df2=pd.DataFrame({'A':['a5','a6','a7'],
                 'B':['b5','b6','b7'],
                 'C':['c5','c6','c7'],
                 'D':['d5','d6','d7']},
                index=[4,5,6])
df2

    A   B   C   D
4  a5  b5  c5  d5
5  a6  b6  c6  d6
6  a7  b7  c7  d7

In [5]:
pd.concat([df1,df2])

    A   B   C   D
0  a1  b1  c1  d1
1  a2  b2  c2  d2
2  a3  b3  c3  d3
3  a4  b4  c4  d4
4  a5  b5  c5  d5
5  a6  b6  c6  d6
6  a7  b7  c7  d7

In [30]:
pd.concat([left,right])

  Key    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2  NaN  NaN
3  K3   A3   B3  NaN  NaN
0  K0  NaN  NaN   C0   D0
1  K1  NaN  NaN   C1   D1
2  K4  NaN  NaN   C2   D2
3  K5  NaN  NaN   C3   D3

In [26]:
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                    'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']}) 

right = pd.DataFrame({'Key': ['K0', 'K1', 'K4', 'K5'], 
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']}) 
left
right

  Key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K4  C2  D2
3  K5  C3  D3

In [33]:
df3=pd.merge(left, right, on='Key', how='inner')
df3

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1

In [34]:
df3=pd.merge(left, right, on='Key', how='outer')
df3

  Key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K1   A1   B1   C1   D1
2  K2   A2   B2  NaN  NaN
3  K3   A3   B3  NaN  NaN
4  K4  NaN  NaN   C2   D2
5  K5  NaN  NaN   C3   D3

In [36]:
df3=pd.merge(left, right, on='Key', how='left')
df3

  Key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2  NaN  NaN
3  K3  A3  B3  NaN  NaN

In [37]:
df3=pd.merge(left, right, on='Key', how='right')
df3

  Key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1   A1   B1  C1  D1
2  K4  NaN  NaN  C2  D2
3  K5  NaN  NaN  C3  D3

## joins

In [68]:
left = pd.DataFrame({'A': ['yawar', 30, 'SPY', 'kadapa'], 
                    'B': ['prashanth', 25, 'SPY', 'hyderabad']}, 
                    index = ['name', 'age', 'departmnet', 'place']) 

right = pd.DataFrame({'C': ['amardeep', 32, 123456987,"starmaa"], 
                    'D': ['sivaji', 50, 789456123, 'poltical']}, 
                    index = ['name', 'age', 'pno', 'category']) 

d2=right.join(left)
d2
d3=left.join(right)
d3

                 A          B         C       D
name         yawar  prashanth  amardeep  sivaji
age             30         25        32      50
departmnet     SPY        SPY       NaN     NaN
place       kadapa  hyderabad       NaN     NaN

In [49]:
d4=pd.read_csv(r'C:\Users\sairam\Downloads\googleplaystore_v2.csv')

In [50]:
d4.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19000.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14000.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8700.0,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25000.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2800.0,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [58]:
d4.App.value_counts()

App
ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
ESPN                                                  7
Duolingo: Learn Languages Free                        7
Candy Crush Saga                                      7
                                                     ..
Meet U - Get Friends for Snapchat, Kik & Instagram    1
U-Report                                              1
U of I Community Credit Union                         1
Waiting For U Launcher Theme                          1
iHoroscope - 2018 Daily Horoscope & Astrology         1
Name: count, Length: 9660, dtype: int64

In [60]:
d4['App']

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [62]:
d4.groupby('App').value_counts()

App                                               Category            Rating  Reviews  Size     Installs    Type  Price    Content Rating  Genres            Last Updated        Current Ver  Android Ver
+Download 4 Instagram Twitter                     SOCIAL              4.5     40467    22000.0  1,000,000+  Free  0        Everyone        Social            August 2, 2018      5.03         4.1 and up      1
- Free Comics - Comic Apps                        COMICS              3.5     115      9100.0   10,000+     Free  0        Mature 17+      Comics            July 13, 2018       5.0.12       5.0 and up      1
.R                                                TOOLS               4.5     259      203.0    10,000+     Free  0        Everyone        Tools             September 16, 2014  1.1.06       1.5 and up      1
/u/app                                            COMMUNICATION       4.7     573      53000.0  10,000+     Free  0        Mature 17+      Communication     July 3, 2018        4.2.4        4.1 and up      1
058.ba                                            NEWS_AND_MAGAZINES  4.4     27       14000.0  100+        Free  0        Everyone        News & Magazines  July 6, 2018        1.0          4.2 and up      1
                                                                                                                                                                                                             ..
감성학원 BL 첫사랑                                       COMICS              4.4     190      34000.0  10,000+     Free  0        Everyone        Comics            November 17, 2017   3.2.1        3.0 and up      1
💎 I'm rich                                        LIFESTYLE           3.8     718      26000.0  10,000+     Paid  $399.99  Everyone        Lifestyle         March 11, 2018      1.0.0        4.4 and up      1
💘 WhatsLov: Smileys of love, stickers and GIF     SOCIAL              4.6     22098    18000.0  1,000,000+  Free  0        Everyone        Social            July 24, 2018       4.2.4        4.0.3 and up    1
📏 Smart Ruler ↔️ cm/inch measuring for homework!  TOOLS               4.0     19       3200.0   10,000+     Free  0        Everyone        Tools             October 21, 2017    1.0          4.2 and up      1
🔥 Football Wallpapers 4K | Full HD Backgrounds 😍  ENTERTAINMENT       4.7     11661    4000.0   1,000,000+  Free  0        Everyone        Entertainment     July 14, 2018       1.1.3.2      4.0.3 and up    1
Name: count, Length: 8886, dtype: int64

In [77]:
d4["App"]

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [82]:
d4.groupby('App').mean()

TypeError: Could not convert SPORTS to numeric

In [81]:
d4["sports"]

KeyError: 'sports'