In [3]:
import pandas as pd
inp0=pd.read_csv(r'C:\Users\sairam\Desktop\m@noj\python1.csv')

In [8]:
inp0.isnull().sum()

ROLL NO         27
STUDENT NAME    27
HINDI           27
ENGLISH         25
MATH            26
PHYSICS         25
CHEMISSTRY      25
TOTAL           27
AVERAGE         27
GRADE           27
dtype: int64

In [4]:
inp0

,ROLL NO,STUDENT NAME,HINDI,ENGLISH,MATH,PHYSICS,CHEMISSTRY,TOTAL,AVERAGE,GRADE
0,1.0,RAM,20.0,10,14.0,18,15.0,77.0,15.4,A
1,2.0,ASHOK,21.0,12,14.0,12,18.0,77.0,15.4,A
2,3.0,MANOJ,33.0,15,7.0,14,17.0,86.0,17.2,A
3,4.0,RAJESH,15.0,14,8.0,16,10.0,63.0,12.6,B
4,5.0,RANJANA,14.0,17,10.0,13,18.0,72.0,14.4,B
5,6.0,POOJA,16.0,8,20.0,17,15.0,76.0,15.2,A
6,7.0,MAHESH,18.0,19,3.0,10,14.0,64.0,12.8,B
7,8.0,ASHUTOOSH,19.0,20,7.0,14,18.0,78.0,15.6,A
8,9.0,ANIK,22.0,13,8.0,12,19.0,74.0,14.8,B
9,10.0,PREM,26.0,13,10.0,11,17.0,77.0,15.4,A
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,A GRADE,6.0,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,B GRADE,4.0,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,TOTAL NO OF STUDENTS,10.0,NaN,NaN,NaN,NaN,NaN

In [13]:
inp1 = inp0.dropna()

print(inp1.to_string())

   ROLL NO STUDENT NAME  HINDI ENGLISH  MATH PHYSICS  CHEMISSTRY  TOTAL  AVERAGE GRADE
0      1.0          RAM   20.0      10  14.0      18        15.0   77.0     15.4     A
1      2.0        ASHOK   21.0      12  14.0      12        18.0   77.0     15.4     A
2      3.0        MANOJ   33.0      15   7.0      14        17.0   86.0     17.2     A
3      4.0       RAJESH   15.0      14   8.0      16        10.0   63.0     12.6     B
4      5.0      RANJANA   14.0      17  10.0      13        18.0   72.0     14.4     B
5      6.0        POOJA   16.0       8  20.0      17        15.0   76.0     15.2     A
6      7.0       MAHESH   18.0      19   3.0      10        14.0   64.0     12.8     B
7      8.0    ASHUTOOSH   19.0      20   7.0      14        18.0   78.0     15.6     A
8      9.0         ANIK   22.0      13   8.0      12        19.0   74.0     14.8     B
9     10.0         PREM   26.0      13  10.0      11        17.0   77.0     15.4     A

In [11]:
inp1.isnull().sum()

ROLL NO         0
STUDENT NAME    0
HINDI           0
ENGLISH         0
MATH            0
PHYSICS         0
CHEMISSTRY      0
TOTAL           0
AVERAGE         0
GRADE           0
dtype: int64